@import "base";
@import "mixin";

//悬浮头部
.fixed-head{
    z-index: 99999;
    display: none;
    margin:auto;
    width: 100%;
    position: fixed;
    // backdrop-filter: saturate(180%) blur(6px);
    // background-color: var(--header-background);
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    .fixed-con{
        width: 910px;
        margin: 0 auto;
    }
    &::after{
        @include clearBoth;
    }
    .logo {
        float: left;
        width: 100px;
        height: 100%;
    }
    .logo-nav {
        display: inline-block;
        width: 100px;
        height:50px;
        background-image: url(../images/logo1.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 4px;
    }
    .nav{
        float: left;
        margin-top: 5px;
        ul{
            // margin: 0 0 0 265px;
            height: 100%;
            list-style: none;
            li{
                float: left;
                margin: 0 17px;
                font-size: 16px;
                color: #232628;
                font-weight: 600;
                line-height: 52px;
                a{
                    letter-spacing:2px;
                }
            }
        }
        margin-left: 30px;
    }
}
// banner

.banner{
    .banner-top{
        position: relative;
        min-width: 1200px;
        // height: 52px;
        .allclass{
            position: relative;
            width: 240px;
            // height: 52px;
            float: left;
            // border-radius: 12px 12px 0 0;
            // background-color: $acolor;
            // background: -webkit-gradient(linear, left top, right top, from($bcolor), to($acolor));
            // background: -webkit-linear-gradient(left, $bcolor 0%, $acolor 100%);
            // background: -o-linear-gradient(left, $bcolor 0%, $acolor 100%);
            // background: linear-gradient(90deg, $bcolor 0%, $acolor 100%);
            .allclass-top{
                padding-left: 24px;
                font-size: 18px;
                line-height: 52px;
                font-weight: bold;
                i{
                    background-position: -68px -102px;
                    width: 24px;
                    height: 24px;
                    margin-top: 14px;
                    margin-right: 4px;
                    display: inline-block;
                    background-image: url(../images/icon1.png);
                    background-repeat: no-repeat;
                    vertical-align: top;
                }
                span{
                    color: #fff;
                }
                
            }
            // &:hover .allclass-con{
            //         display: block;
            // }
            .allclass-con{
                position: absolute;
                // top: 52px;
                left: 0;
                height: 480px;
                padding-top: 10px;
                color: #fff;
                background:  url(../images/black-bg.png);
                z-index: 999;
                box-sizing: border-box;
                .allclass-con-item{
                    &:last-child{
                        border: none;
                        height: 48px;
                    }
                    &:nth-child(5){
                        height: 46px;
                    }
                    padding: 9px 0px 9px 20px;
                     border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
                     box-sizing: border-box;
                    //  position: relative;
                    h4{
                        margin-top: 2px;
                        padding-left: 4px;
                        padding-right: 28px;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: bold;
                        a{
                            color: #fff;
                        }
                        span{
                            display: inline-block;
                            background-image:  url(../images/icon1.png);
                            background-repeat: no-repeat;
                            vertical-align: top;
                            width: 12px;
                            height: 12px;
                            float: right;
                            margin-top: 4px;
                            background-position: -44px 0;
                        }
                    }
                    ul{
                        margin-top: 5px;
                        li{
                            display: inline-block;
                            font-size: 14px;
                            line-height: 24px;
                            padding: 0 4px;
                            a{
                                color: #fff;
                            }
                        }
                    }
                    //yong-hover
                    .yong-hover{
                        display: none;
                        position: absolute;
                        top: 1px;
                        left: 0;
                        margin-left: 240px;
                        padding: 20px 36px;
                        width: 960px;
                        height: 478px;
                        background-color: #fff;
                        z-index: 9999;
                        box-sizing: border-box;
                        .yong-list{
                            margin-bottom: 10px;
                            h3{
                                margin-bottom: 16px;
                                font-size: 14px;
                                line-height: 22px;
                                color: #232628;   
                                font-weight: normal; 
                              }
                              ul{
                                  li{
                                      a{
                                        display: inline-block;
                                        width: 108px;
                                        margin-right: 22px;
                                        margin-bottom: 30px;
                                        text-align: center;
                                        img{
                                            width: 68px;
                                        }
                                          p{
                                            color: #71797F;
                                            margin-top: 4px;
                                            font-size: 12px;
                                            line-height: 16px;
                                            &:hover {
                                                color: $acolor !important;
                                            }
                                          }
                                      }
                                  }
                              }
                        }
                    }
                    
                }
                .hover-bg{
                    &:hover{
                        background-color: #fff;
                        h4{
                            color: #232628;
                            a{
                                color: #232628;  
                            }
                        }
                        ul li a{
                            color: #737373;
                        }
                        //yong-hover
                        .yong-hover{
                            display: block;
                        }
                    }
                    
                }
            }
        }
        

        
    }
    
    .banner-con{
        position: relative;
        min-width: 1200px;
        height: 480px;
        ul{
            height: 480px;
            overflow: hidden;
            li{
                position: absolute;
                transition: opacity 1.5s;
                opacity: 0;
            }
            li:nth-of-type(1){
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../images/banner1.jpg);
            }
            li:nth-of-type(2){
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../images/banner2.jpg);
            }
            li:nth-of-type(3){
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../images/banner3.jpg);
            }
            li.active{
                opacity: 1;
            }
        }
        ol{
            width: 60%;
            left: 50%;
            bottom: 20px;
            margin-left: -30%;
            text-align: center;
            list-style: none;
            position: absolute;
            z-index: 100;
            li{
                display: inline-block;
                width: 12px;
                height: 12px;
                margin: 0 6px;
                border-radius: 50%;
                border: none;
                background-color: rgb(35, 38, 40);
                opacity: 0.3;
                filter: alpha(opacity=30);
                vertical-align: top;
                cursor: pointer;
            }
            li.active{
                border: none;
                background-color: rgb(255, 115, 76);
                opacity: 1;
            }
        }
        .a_btn{
            display: none;
        }
        .a_left{
            position: absolute;
            top: 230px;
            width: 52px;
            height: 52px;
            opacity: 1;
            left: 20px;
            z-index: 99;
            .banner-con-left{
                background-position: 0 -186px;
                width: 52px;
                height: 52px;
                display: inline-block;
                background-image: url(../images/icon1.png);
                background-repeat: no-repeat;
                vertical-align: top;
            }
        }
        .a_right{
            position: absolute;
            top: 230px;
            width: 52px;
            height: 52px;
            opacity: 1;
            right: 20px;
            z-index: 99;
            .banner-con-right{
                background-position: -62px -186px;
                width: 52px;
                height: 52px;
                display: inline-block;
                background-image: url(../images/icon1.png);
                background-repeat: no-repeat;
                vertical-align: top;
            }
        }
    }
}
// manin-server

.main-server {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    ul{
        li{
           float: left;
           height: 60px;
           line-height: 60px;
           h4{
               display: inline-block;
           }
           span{
            display: inline-block;
            background-image:url(../images/icon1.png);
            background-repeat: no-repeat;
            vertical-align: top;
            width: 24px;
            height: 24px;
            margin-top: 18px;
            margin-left: 2px;
            margin-right: 6px;
           }
           &:nth-of-type(1){
            width: 216px;
            span{
                background-position: -102px -102px;
            }
           }
           &:nth-of-type(2){
            margin-left: 90px;
            span{
                background-position: -136px -102px;
            }
           }
           &:nth-of-type(3){
            margin-left: 90px;
            span{
                background-position: -204px -102px;
            }
           }
           &:nth-of-type(4){
            margin-left: 90px;
            span{
                background-position: -238px -102px;
            }
           }
           &:nth-of-type(5){
            margin-left: 90px;
            span{
                background-position: -170px -102px
            }
           }
        }
    }
}

//爱情鲜花

.fl{
    width: 100%;
    &:nth-child(odd) {
        background-color: #F7F9FA;
    }
    &:nth-child(even) {
        background-color: #E9ECF0;
    }
    .love-flower-t{
        &::after{
            @include clearBoth;
        }
        .more{
            font-size: 14px;
            line-height: 30px;
            color: #71797F;
            float: right;   
            span{
                background-position: -68px 0;
                width: 12px;
                height: 12px;
                margin-top: 9px;
                margin-left: 6px;
                display: inline-block;
                background-image: url(../images/icon1.png);
                background-repeat: no-repeat;
                vertical-align: top
            }
        }
        h3{
            font-size: 26px;
            line-height: 30px;
            color: #232628;
            font-weight: bold;
            float: left;
            span{
                padding-left: 15px;
                margin-left: 16px;
                font-size: 20px;
                line-height: 24px;
                font-weight: normal;
                border-left: 1px solid #71797F;
            }
        }
    }
}
.flower-content{
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0 60px;
    box-sizing: border-box;
    &::after{
        @include clearBoth;
    }
}
.love-flower{
    
    .love-flower-c{
        margin-top: 14px;
        .love-flower-c-r{
            display: inline-block;
            width: 1200px;
            vertical-align: top;
            ul{
                li{
                    transition: all 1s;
                    width: 227px;
                    // padding: 8px 8px 0;
                    margin: 16px 8px 0;
                    // border-radius: 8px;
                    display: inline-block;
                    background-color: #fff;
                    vertical-align: top;
                    box-sizing: border-box;
                    display: inline-block;
                    float: left;
                    &:nth-of-type(1){
                        margin-top: 16px;
                        margin-bottom: 0;
                        margin-left: 0;
                    }
                    &:nth-of-type(6){
                        margin-top: 16px;
                        margin-bottom: 0;
                        margin-left: 0;
                    }
                    &:nth-of-type(5n){
                        margin-top: 16px;
                        margin-bottom: 0;
                        margin-right: 0;
                    }
                    a{
                        .img{
                            // border-radius: 4px;
                            width: 100%;
                            height: 228px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                max-width: 100%;
                                height: auto;
                                vertical-align: bottom;
                                text-decoration: none;
                                display: inline;
                            }
                        }
                        .c-r-content{
                            padding: 10px 16px 14px;
                            text-align: center;
                            color: #232628;
                            box-sizing: border-box;
                            .c-r-content-title{
                                max-width: 100%;
                                overflow: hidden;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-size: 16px;
                                line-height: 20px;
                            }
                            .c-r-content-price{
                                margin-top: 5px;
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 20px;
                                span{
                                    &:nth-of-type(1){
                                        font-family: arial;
                                    }
                                }
                            }
                            .c-r-content-sell{
                                margin-top: 6px;
                                font-size: 12px;
                                color: #71797F;
                                line-height: 16px;
                            }
                        }
                    }
                    
                }
                li:hover{
                    img{
                        transform: scale(1.2);
                        transition: all 1s;
                    }
                   p{
                       color: $acolor;
                   }
                   .c-r-content-sell{
                    color: $acolor !important;
                   }
                }
            }
        }
    }
}

.f-cake-con{
    li{
        transition: all 1s;
        width: 227px;
        // padding: 8px 8px 0;
        margin: 16px 8px 0;
        // border-radius: 8px;
        display: inline-block;
        background-color: #fff;
        vertical-align: top;
        box-sizing: border-box;
        display: inline-block;
        float: left;
        &:nth-of-type(1){
            margin-top: 16px;
            margin-bottom: 0;
            margin-left: 0;
        }
        &:nth-of-type(6){
            margin-top: 16px;
            margin-bottom: 0;
            margin-left: 0;
        }
        &:nth-of-type(5n){
            margin-top: 16px;
            margin-bottom: 0;
            margin-right: 0;
        }
        a{
            .img{
                // border-radius: 4px;
                width: 100%;
                height: 228px;
                overflow: hidden;
                transform: scale(1);
                transition: all 1s;
                img{
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    vertical-align: bottom;
                    text-decoration: none;
                    display: inline;
                }
            }
            .c-r-content{
                padding: 10px 16px 14px;
                text-align: center;
                color: #232628;
                box-sizing: border-box;
                .c-r-content-title{
                    max-width: 100%;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 16px;
                    line-height: 20px;
                }
                .c-r-content-price{
                    margin-top: 5px;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;
                    span{
                        &:nth-of-type(1){
                            font-family: arial;
                        }
                    }
                }
                .c-r-content-sell{
                    margin-top: 6px;
                    font-size: 12px;
                    color: #71797F;
                    line-height: 16px;
                }
            }
        }
    }
    li:hover{
        img{
            transform: scale(1.2);
            transition: all 1s;
        }
       p{
           color: $acolor;
       }
       .c-r-content-sell{
        color: $acolor !important;
       }
    }
}

//热门资讯
.fl-hot-content{
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}
.fl-hot{
    .fl-hot-news{
        width: 100%;
        background-color: #fff;
        .fl-hot-news-tit{
            height: 53px;
            padding: 0 32px;
            border-bottom: 1px solid #E9ECF0;
            a{
                font-size: 14px;
                line-height: 52px;
                color: #71797F;
                float: right;
            }
            h4{
                font-size: 20px;
                line-height: 52px;
                font-weight: bold;
                color: #232628;
                float: left;
            }
        }
        .fl-hot-news-list{
            &::after{
                @include clearBoth;
            }
            width: 100%;
            padding: 8px 0;
            box-sizing: border-box;
            background: #fff;
            li{
                position: relative;
                display: inline-block;
                width: 400px;
                padding-left: 42px;
                font-size: 12px;
                line-height: 28px;
                color: #232628;
                box-sizing: border-box;
                float: left;
                &::before{
                    position: absolute;
                    content: "";
                    left: 32px;
                    top: 12px;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: #B4BABF;
                }
                
            }
        }
    }
    .fl-hot-server-list{
        &::after{
            @include clearBoth;
        }
        padding: 20px 0;
        border-bottom: 1px solid #c7c7c7;
        box-sizing: border-box;
        li{
            width: 323px;
            margin: 20px 0;
            font-size: 20px;
            line-height: 40px;
            color: #232628;
            float: left;
            &:nth-of-type(1){
                width:323px;
                span{
                    
                    background-position: 0 -136px;
                }
            }
            &:nth-of-type(2){
                width: 360px;
                span{
                    
                    background-position: -50px -136px;
                }
            }
            &:nth-of-type(3){
                width: 320px;
                span{
                    
                    background-position: -100px -136px;
                }
            }
            &:nth-of-type(4){
                width:197px;
                span{
                    
                    background-position: -150px -136px;
                }
            }
            &:nth-of-type(5){
                width: 323px;
                span{
                    
                    background-position: -200px -136px;
                }
            }
            &:nth-of-type(6){
                width: 360px;
                span{
                    
                    background-position: -250px -136px;
                }
            }
            &:nth-of-type(7){
                width: 320px;
                span{
                    
                    background-position:-300px -136px;
                }
            }
            &:nth-of-type(8){
                width: 197px;
                span{
                    
                    background-position:-350px -136px;
                }
            }
            a{
                span{
                    width: 40px;
                    height: 40px;
                    margin-right:16px;
                    background-image:url(../images/icon1.png);
                    display: inline-block;
                    background-repeat: no-repeat;
                    vertical-align: top;
                }
            }
        }
    }
    .fl-erwm{
        width: 322px;
        margin: 0px auto ;
        text-align: right;
        padding-bottom: 40px;
        padding-top: 40px;
        box-sizing: border-box;
        &::after{
            @include clearBoth;
        }
        .phone{
            display: inline-block;
            vertical-align: top;
            text-align: center;
            float: left;
            img{
                width: 120px;
                height: 120px;
            }
            p{
                margin-top: 8px;
                font-size: 16px;
                margin-top: 8px;
                color: #232628;
            }
        }
        .weixin{
            margin-left: 48px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            float: left;
            img{
                width: 120px;
                height: 120px;
            }
            p{
                margin-top: 8px;
                font-size: 16px;
                margin-top: 8px;
                color: #232628;
            }
        }
    }
}
//footer
.footer{
    background-color: #232628;
    .footer-content{
        width: 1200px;
        margin: 0 auto;
        padding: 40px 0 46px;
        .ft-nav{
            a{ color:#fff;
                display: inline-block;
                float: left;
                font-size: 16px;
                line-height: 16px;
                padding-left: 32px;
                margin-left: 33px;
                border-left: 1px solid #fff;
                &:first-child{
                    padding-left: 0px;
                    margin-left: 0px;
                    border-left: 0;
                }
            }
            margin-bottom: 40px;
        }
        p{
            font-size: 12px;
            color: #71797F;
            line-height: 22px;
        }
    }
}
.ct-btn{
    display: none;
    z-index: 100000;
    position: fixed;
    right: 8px;
    top: 70%;
    ul{
        li{
            border-radius: 150px;
            background:rgba(0,0,0,0.7);
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            margin-bottom: 20px;
            box-shadow: 2px 2px 7px 0px #00000024;
            b{
                border-radius: 150px;
                z-index: 100001;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                background: #f60;
                color: #fff;
                position: absolute;
                top: -6px;
                right: 5px;
                font-size: 12px;
            }
            img{
                transform: scale(0.8);
            }
        }
        li:hover{
            background:$acolor;
            cursor: pointer;
        }
    }
}
.allclass-t{
    background-color:#F4F4F4;
    width: 100%;
    ul{
        &::after{
            @include clearBoth;
        }
        width: 1200px;
    margin: 0 auto;
    padding: 20px 0 40px;
    box-sizing: border-box;
    position: relative;
        li{
            float: left;
            margin-right: 16px;
            width: 225px;
            height: 358px;
            border: 1px solid #fff;
            text-align: center;
            background: #fff;
            transition: border-color 0.5s;
            -webkit-transition: border-color 0.5s;
            &:hover{
                border-color: #ff9500;
            }
            
            .p-tit{
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 10px;
                margin-left: 30px;
                line-height: 1;
            }
            .p-pri{
                font-size: 14px;
                color: #f86a00;
                text-align: left;
                margin-left: 30px;
                margin-bottom: 50px;
                line-height: 1;
            }
            .img{
                width: 190px;
                height: 190px;
                margin: 0 auto;
                overflow: hidden;
                img{
                    width: auto;
                    height: 100%;
                    display: inline;
                }
            }
        }
        .lastli{
            float: left;
            margin-right: 0;
            height: 222px;
            width: 225px;
            border: 1px solid #fff;
            text-align: center;
            background: #fff;
            transition: border-color 0.5s;
            -webkit-transition: border-color 0.5s;
            .p-tit{
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 10px;
                margin-left: 30px;
                line-height: 1;
            }
            .p-pri{
                font-size: 14px;
                color: #f86a00;
                text-align: left;
                margin-left: 30px;
                margin-bottom: 0px;
                line-height: 1;
            }
            .img{
                width: 145px;
                height: 145px;
                margin: 0 auto;
                overflow: hidden;
                img{
                    width: 100%;
                    display: inline;
                }
            }
        }
        .lastli1{
            position: absolute;
            bottom: 40px;
            right: -16px;
            width: 226px;
            height: 118px;
            border: 1px solid #fff;
            background: #fff;
            transition: border-color 0.5s;
            -webkit-transition: border-color 0.5s;
            .look-more {
                color: #333;
                font-size: 22px;
                position: absolute;
                top: 38px;
                left: 40px;
        }
        .which {
            color: #666;
            font-size: 14px;
            width: 167px;
            text-align: center;
            left: 0;
            top: 70px;
            position: absolute;
        }
        .more-btn {
            background-image: url(../images/sprite.png);
            background-position: 0 -202px;
            width: 47px;
            height: 47px;
            position: absolute;
            right: 40px;
            top: 37px;
            transition: 500ms;
            -webkit-transition: 500ms;
        }
        &:hover .more-btn {
            transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
        }
    }
}
}