@import "base";
@import "mixin";
.pay{
   overflow: hidden;
    text-align: center;
    position: relative;
    width: 900px;
    margin: 0 auto;
    h1{
     line-height: 40px;
    }
    &>img{
        transform: scale(0.5) translateY(130px);
    }
    .erm{
        position: absolute;
        top: 70px;
        left: 25%;
        p{
            
            float: left;
            margin-right: 30px;
        }
        span{
            display: block;
            margin-bottom: 20px;
        }
        img{
            width: 200px;
            height: 200px;
            display: block;
        }
    }
}